streamlit
pandas
matplotlib
seaborn
textblob
python-docx
cleantext
scikit-learn
openpyxl
python-dotenv
openai
requests
opencv-python
numpy
sounddevice
keyboard
scipy
fer
faster-whisper
transformers
torch
tensorflow
